
#content { 
    max-width: 1600px;
    margin: 0 auto;
} 


nav a {
    text-align: center; 
    color: white;
    text-decoration: none;
    
}

#hero-box{
    text-align: center;
    width: 100%;
}


#hero-msg h1{
    text-align: center;
}


#hero-msg h4{ 
    text-align: center;
}


.button-box{
    text-align: center;
}


main section {
    text-align: center;
}


#background {
    height: 725px;
    background-color: #dda15e;
}


body {
    background-color: #fefae0; 
}


header {
    background-color: #606c38;
}




nav a:hover {
    background-color: #fefae0;
    color: blue
    
}


.book{
    background-color: #fefae0; 
    text-decoration: none;
}


.join{ 
    background-color: #283618;
    color: white;
    text-decoration: none;
}


.book:hover{
    background-color: #283618;
    color: white
} 

.site {
    color: white;
    text-decoration: none;
}


.site:hover{
    background-color: #fefae0;
    color: blue;
}


.contact{
    color: white;
    text-decoration: none;
}
.contact:hover{
    background-color: #fefae0;
    color: blue
}

.join:hover{
    background-color: #fefae0;
    color: blue
}


.msg{
    background-color: #283618;
    color: white
}


footer{
    background-color: #283618;
    color:white
}

footer p {
    font-size: 1.5em;
    text-decoration: underline;    
}
 

         
.icon {
    width: 80px;
}

.logo {
    width: 80px;
}

